{% extends "base.html" %} {% block content%}
<div class="card">
  <div class="card-text">
    <div class="card-header">Location {{location.name}} detail page</div>
    <ul>
      <li>Location ID: {{location.id}}</li>
      <li>Location name: {{location.name}}</li>
      <li>Location task: {{location.task}}</li>
      <li>
        Location teams:
        <ul>
          {% for team in teams %}
          <li>
            <a href="{% url 'teamDetail' team.id %}"> {{ team.name }} </a>
          </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
    {% endblock %}
  </div>
</div>
